
<ion-view>
    <ion-nav-bar class="bar-light" style="display:block;">
        <ion-nav-buttons side="left">
          <button class="button button-clear" back-button>
            <i class="icon ion-ios-arrow-back oran"></i></button>
          </ion-nav-buttons>
          <ion-nav-title>
              <b>Account</b>
          </ion-nav-title>
    </ion-nav-bar>
 
       <ion-content class="padding text-center" style="padding-top: 3vh;background-color: #fff !important;">
            <div class="text-center padding">
                <br><br>
                <button ui-sref="email" class="button button-block button-oran-alt">
                <i class="icon ti-email"></i> &nbsp;&nbsp; Continue with email
                </button>

                <br><br>

                <small class="text-center">
                    By continuing you agree to our <a  ng-click="terms_box.show()">T&Cs</a>.
                </small>
                <br>
                <small class="text-center">
                    We use our data to offer you a personalised experience and to better understand and improve our services.
                </small>
            </div>
       </ion-content>
 
 
 </ion-view>
 