<ion-view>
    <ion-nav-bar class="bar bg-blue">
    
        <ion-nav-title>
          <b>Transactions</b>
        </ion-nav-title>
    
        <ion-nav-buttons side="left">
          <button class="button button-clear" back-button>
            <i class="icon ion-ios-arrow-back light"></i></button>
        </ion-nav-buttons>
      </ion-nav-bar>
    
      <ion-content ng-init="refresh_profile()">
    <br><Br>
  
  
    
      <div class="list">
  
  
  
     
            <div class="item" ng-click="view_transaction(payment)" ng-repeat="payment in coin.transactions | orderBy:'-date'">
                    <h4 class="pull-right text-right" style="float: right;" ng-class="payment.credit ? 'balanced':'assertive'">
                      <v ng-if="!payment.credit">-</v>  
                      <v ng-if="payment.credit">+</v>  
                      {{payment.amount || 0.00000000 | number:8}} {{coin.symbol}}
                      <br>
                      <small ng-if="user.in_currency=='ngn'" class="dark">NGN {{payment.amount * (coin.sell_rates * coin.selling.usd) || 0 | number:2}}</small>
                      <small ng-if="user.in_currency=='usd'" class="dark">USD {{payment.amount * coin.selling.usd || 0 | number:2}}</small>  
                    </h4>
                    <div style="color: #2f2f2f">
                      <small>{{payment.description}}</small>    
                      <h6 class="dark">{{payment.date | date}}</h6>
                    </div>
            </div>

      </div>
  
  </ion-content>
  
  
  </ion-view>