<ion-view class="bg-blue">
   
  
    <ion-content class="padding text-center bg-blue">
        <br>
        <br>
        <br>
        <br>
        <br>
     <img src="/img/coinz3.png" height="140" />
     <br>
     <br>
        <i class="icon ion-ios-checkmark light" style="font-size: 60px;"></i>
      <h4 class="light"><b>Registered Successfully!</b></h4>
      <h6 class="light">Hello {{user.full_name || user.first_name || '...' | capitalize}}, You can now trade cryptocurrency at the best rate.</h6>
      <br><Br>
       <button ui-sref="front.wallet" class="button button-full button-orange">Continue &nbsp;<i class="iocn ion-arrow-right-b"></i></button> 
      <br>
    </ion-content>
  </ion-view>
  