<ion-view>

  <ion-nav-bar class="bar bg-blue">

<ion-nav-title>
  <b>Change Password</b>
</ion-nav-title>
    
    <ion-nav-buttons side="left">
      <button class="button button-clear" back-button>
        <i class="icon ion-ios-arrow-back light"></i></button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding text-center">
    <br><br>
    <h5>Make sure you put a password you can remember and keep it safe and secure to avoid impersonation or hacking.</h5>
    <br>
    <form ng-submit="change_password(s)" class="list">

    <label class="item item-input">
          <div class="row">
              <b class="col-10" style="padding-top:8px;"><i class="ti-lock oran"></i></b> 
              <input class="col-90" type="password" ng-model="s.old_password" placeholder="Old Password" required>
          </div>
    </label>

      <label class="item item-input">
           <div class="row">
              <b class="col-10" style="padding-top:8px;"><i class="ti-lock oran"></i></b> 
              <input type="password" ng-model="s.password" placeholder="New Password" required>
          </div>
      </label>
      <br>
      <br>
      <button ng-disabled="!s.password || !s.old_password" type="submit" class="button button-block button-dark">UPDATE</button>
    </form>
  </ion-content>
</ion-view>
