<ion-view  style="background-color: rgb(255, 255, 255) !important;">

    <ion-nav-bar class="bar bar-light">
  
      <ion-nav-title>
        <b>{{card.name}}</b>
      </ion-nav-title>
  
      <ion-nav-buttons side="left">
        <button class="button button-clear" back-button nav-direction="back">
          <i class="icon ion-ios-arrow-back dark"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>
  
    <ion-content class="bg-light">
      <br>
      <br>
      <br>

  <div class="padding text-center">
                  <div class="display-img1" style="margin:auto !important;margin-bottom:10px !important;" ng-style="{'background-image':'url(' + media + card.photo+')'}">
                  </div>
                  <br>
                  <b style="color: black !important;font-size: 20px !important;">{{card.name | capitalize}}</b><br>
                  <small ng-if="card.description">{{card.description}}</small>
                  <br>


              
        <div class="button-bar">
             <button ng-click="sell_giftcard(card)" class="button button-block button-outline button-oran">
              Sell
              </button>
            </div>    
     
      </div>

  
    </ion-content>
  </ion-view>
  