<ion-view>

    <ion-nav-bar class="bar bg-blue">
  
      <ion-nav-title>
        <b>Fund wallet</b>
      </ion-nav-title>
  
      <ion-nav-buttons side="left">
        <button class="button button-clear" back-button nav-direction="back">
          <i class="icon ion-ios-arrow-back light"></i></button>
      </ion-nav-buttons>
    </ion-nav-bar>
  
    <ion-content>
  <br>

  <div style="opacity: 0.5 !important;" class="item text-left item-icon-right">
    <i class="icon ti-credit-card  oran"></i> Fund by Card
    <h6>Fund your wallet directly from your debit card</h6>
  </div>

  <div ng-click="fetch_peer()" class="item text-left item-icon-right">
    <i class="icon ion-cash  oran"></i> Fund by Bank Transfer
    <h6>Transfer from a naira bank account to your naira wallet</h6>
  </div>

    
  
    </ion-content>
  </ion-view>
  