
<ion-view class="bg-purple">
    
  
    <ion-nav-bar class="bar bg-dark-blue">
        <ion-nav-title>
          <!-- <b>{{profile.full_name}}</b> -->
          Account
        </ion-nav-title>
      <ion-nav-buttons side="left">
        <button title="back" class="button button-clear" back-button>
          <i class="icon ion-ios-arrow-back light"></i>
        </button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
      </ion-nav-buttons>
    </ion-nav-bar>




    

  <ion-content style="margin-top: 0px !important;text-align: center;background-color: rgb(255, 255, 255) !important;">
      <ion-refresher pulling-text="Pull to refresh" on-refresh="fetch_pro(profile.o_id)"></ion-refresher>
  
        <div class="item" ng-style="{'background-image':'url('+media+profile.photo+')'}" style="padding:0px !important;">
          <div class="profile_header">
            <br>
            <div class="profile_photo_big" ng-style="{'background-image':'url('+media+profile.photo+')'}"></div>  
            
            <div class="text-center padding">
              <h1 class="light"><b>{{profile.full_name}} <i ng-if="profile.verified" class="ion ion-checkmark-circled"></i></b></h1>
              <h2><b class="orange">@{{profile.user_name}}</b></h2>
            </div>

            <div ng-if="profile.bio" class="padding">
              <h4 class="light">{{profile.bio}}</h4>
          </div>

            <div class="row">
              <div class="col text-center light">
                <b>{{profile.connections.length || 0}}</b> Connections
              </div>
              <div class="col light">
                <b>{{profile.trades.length || 0}}</b> Trades
              </div>
            </div>



            <div class="col">
              <button class="button button-royal button-small button-block" ng-if="!contacted(profile)" ng-click="add_contact(profile)">
                &nbsp; Connect <i class="ion ion-android-add"></i>&nbsp; 
              </button>
              <button class="button button-assertive button-small button-block" ng-if="contacted(profile)" ng-click="remove_contact(profile)">
                &nbsp; Disconnect &nbsp; 
              </button>
            </div>
        </div>
        </div>

<div ng-if="profile.user_name" style="min-height:55vh !important;background-color: rgba(240, 240, 240, 0.459) !important;" class="padding">
 
  <ion-list class="text-left">


  <div ng-click="send_to(profile)" class="item item-light text-left item-icon-left">
    <i class="ti-angle-right pull-right" style="float: right !important;"></i>
    <i class="icon ion-paper-airplane oran"></i> Pay {{profile.full_name}}
  </div>
        

     
  <div ng-click="trade_with(profile)" ng-if="profile.affiliate" class="item item-light text-left item-icon-left">
    <i class="ti-angle-right pull-right" style="float: right !important;"></i>
    <i class="icon ion-flag oran"></i> Trade with {{profile.full_name}}
  </div>

</ion-list>



<div class="text-left list" ng-if="profile.updates.length > 0">
  <br>
    <h4>Updates</h4>
    <div ng-show="!profile.updates || profile.updates.length < 1">
      <div class=" text-center item item-light">
        <div class="padding">
          <h2><b>No Price has been set yet.</b></h2> 
        </div> 
         <br>
      </div>
    </div>

      <div class="item" ng-class="note.user.o_id ? 'item-avatar':''" ng-click="open_note(note)" ng-repeat="note in profile.updates | orderBy:'-date'" style="margin: 5px !important;">
        <img title="image" ng-if="note.user.o_id" src="{{media + note.user.photo}}" class="avatar" />  
        <h3 class="oran">{{note.title}}</h3>
          <small style="color: #2f2f2f">{{note.message}}</small>
          <h6 class="orange">{{note.date | date:"MMMM d, y,  hh:mm a"}}</h6>
      </div>
</div>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<div ng-include="'components/ads/send_direct.html'"></div>

<br>

  
  </ion-content>
  </ion-view>
  