<ion-view class="bg-blue">

  
  <ion-nav-bar class="bar bg-blue" style="display:block;">
    <ion-nav-buttons side="left">
      <button class="button button-clear" back-button>
        <i class="icon ion-ios-arrow-back oran"></i></button>
    </ion-nav-buttons>

        <ion-nav-buttons side="right">
        <!-- <button ui-sref="login" style="font-weight: bold;" class="button button-clear button-oran">SIGN IN</button> -->
        </ion-nav-buttons>
        <ion-nav-title>
          <b>Log in</b>
        </ion-nav-title>


  </ion-nav-bar>
 
       <ion-content class="text-center bg-blue">
      <br>
    <br>
      <div class="profile_photo_big" ui-sref="edit_photo" ng-style="{'background-image':'url('+media+(t_user.photo || user.photo)+')'}"></div>  
    <br>
    <h3 class="light">Welcome back, {{user.first_name || user.full_name || t_user.full_name || t_user.first_name || 'Chief' | capitalize}}!</h3>
    <e> {{error}}</e>
    <br>
    <p>Not you? <a ui-sref="auth" class="orange">Switch to a different account.</a></p>
   
     <form ng-submit="login(det)" class="list list-inset" style="background: none; border: none;">
       
       
    
       <label class="item item-input text-left">
      <div class="row">
       <b class="col-10" style="padding-top:8px;"><i class="ti-lock oran"></i></b> 
         <input class="col-90" ng-model="det.password" name="password" type="password" placeholder="Password">
   </div>
       </label>
       <button ng-disabled="!det.password" type="submit" class="button button-block button-orange">
         LOGIN
       </button>
     </form>
     <p>Forgot your password? <a ui-sref="reset" class="orange">click here to reset.</a></p>
 
       </ion-content>
 
 
 </ion-view>
 