<ion-view>
  <ion-nav-bar class="bar bg-blue">
    <ion-nav-buttons side="left">
      <button class="button button-clear" back-button>
        <i class="icon ion-ios-arrow-back light"></i></button>
    </ion-nav-buttons>

<!-- 
    <ion-nav-title>
      <img src="img/red.png" height="100%" style="margin-top: 1px;">
    </ion-nav-title> -->
  </ion-nav-bar>


  <ion-content class="padding text-center">
    <br>
    <h4><b>PASSWORD RESET DONE!</b></h4>
    <h6>A mail has been sent to you to reset your password.</h6>
    <h8>Click on the link and you will be redirected to a page to set a new password</h8>
    <br>
    <i class="icon ion-ios-checkmark balanced" style="font-size: 60px;"></i>
     <button ui-sref="start" class="button button-full button-dark">return home &nbsp;<i class="iocn ion-arrow-right-b"></i></button> 
    <h2></h2>
    <br>
  </ion-content>
</ion-view>
