<ion-view>
    <ion-nav-bar class="bar bar-dark bg-black">
    
        <ion-nav-title>
          <b>Sales History</b>
        </ion-nav-title>
    
        <ion-nav-buttons side="left">
          <button class="button button-clear" back-button>
            <i class="icon ion-ios-arrow-back light"></i></button>
        </ion-nav-buttons>
      </ion-nav-bar>
    
      <ion-content ng-init="refresh_sales()">


        <ion-refresher  icon="ion-loading-d" 
        pulling-text="Pull to refresh"
        on-refresh="refresh_sales()">
        </ion-refresher>
    <br>
    

<div class="padding">
            <label class="item item-input">
                <input type="text" style="color:black;" ng-model="srch" placeholder="Search sales" value="" />
                <i style="margin:10px" class="icon icon-placeholder ti-search orange"></i>
              </label>
  </div>
  
    
    <Br>
  
  
    
      <div class="list">
  
  
        <div ng-show="!trades || trades.length < 1">
          <div class=" text-center item item-light">
            <div class="padding">
              <h2><b>No Sales Yet.</b></h2> 
            </div> 
             <br>
  
          </div>
        </div>
  
        
        <div class="item" ng-click="view_sales(trade)"  ng-class="trade.pending ? 'transparent':''" ng-repeat="trade in trades | filter:srch | orderBy:'-date_created'">
          <div class="pull-right text-right" style="float: right;margin-top: 10px !important;">

            <h2 ng-class="!trade.credited ? 'balanced':'assertive'">
            <div ng-if="trade.type=='cryptocurrency'">
              <v ng-if="trade.credited">-</v>  
              <v ng-if="!trade.credited">+</v>  
              <b>{{trade.symbol || '$'}} {{trade.amount || 0 | number:8}}</b>
              <h6> ${{coin_usd(trade.amount,trade.symbol) || 0 | limitTo:4}}</h6>
            </div>
            <div ng-if="trade.type=='gift card'">
              <b ng-if="card.quantity > 0" ng-repeat="card in trade.cards">{{trade.symbol || '$'}} {{card.amount || 0}} ,</b>
            </div>
            </h2>
          
        </div>
          <div style="color: #2f2f2f" class="item-body">
            <h2><b>{{trade.name}}</b></h2>
             <h6 class="dark">{{trade.date_created | date}}</h6>
          </div>
        </div>
      </div>
  
  </ion-content>
  
  
  </ion-view>