<ion-view style="background-color: rgb(255, 255, 255) !important;">
   
  
    <ion-content class="padding text-center bg-white" style="background-color: white !important;">
        <br>
        <br>
        <br>
        <br>
        <i class="icon ion-ios-checkmark oran" style="font-size: 60px;"></i>
     <!-- <img src="/img/icons/logo_custard.png" height="30" /> -->
      <br>
      <h4><b class="oran">Your order was successful!</b></h4>
      <h6 style="margin:auto !important;width: 210px !important;">Hello <b class="dark">{{user.first_name || 'Munchie' | capitalize}}</b>, please hold on while we work on your order...</h6>
      <br><Br>
       <button ng-click="view_checkout()" class="button button-full button-dark">Go to orders &nbsp;<i class="iocn ion-arrow-right-b"></i></button> 
      <br>
    </ion-content>
  </ion-view>
  