<ion-modal-view class="bg-blue-2">
    <ion-header-bar class="bar bar-header bg-blue-2">    
        <button ng-click="abuy_box.hide()" class="button button-clear button-light"  style="float:left;font-weight: bold;">&nbsp;<i class="ti ti-close light"></i>&nbsp;</button>
        <ion-title>
          <img src="{{media+coin.icon + '?token='+token}}" height="30" />
          <b>Buy</b>
        </ion-title>
      </ion-header-bar>
   
    <ion-content class="padding text-left bg-grey">

        <br>
        <b class="black">Buying from</b>
        <div class="item item-avatar" style="margin: 5px !important;">
          <img src="{{media + trader.photo}}" class="avatar" />  
          <h3 class="dark">{{trader.full_name}}</h3>
            <small class="oran">@{{trader.user_name}}</small>

        </div>
        <div class="item item-divider"> 
          <b class="oran pull-right" style="float: right !important;">NGN {{trader.coin.affiliate.sell_rate}}/$</b>
          <h3 class="dark">Buying at</h3>
      </div>
<br>
         
        <br>

      <div class="list">

        <div ng-include="'components/buying-input2.html'"></div>

      </div>
    <div class="item item-divider" ng-if="show_coin">
    <v>Naira value</v> <b class="balanced pull-right" style="float: right !important;">{{naira_amount || 0 | currency}}</b>
    </div>
    <div class="item item-divider" ng-if="!show_coin">
        <v>Buying</v> <b class="orange pull-right" style="float: right !important;">{{coin_amount || 0 | number:8}} {{coin.coin | uppercase}}</b>
        </div>
    
  <div class="item item-divider" ng-if="!show_coin">
    <v>Fee</v> <b class="orange pull-right" style="float: right !important;">{{coin.fee || 0 | number:8}} {{coin.coin | uppercase}}</b><br>
    <h5 class="text-center pull-right" style="float: right !important;">
      <b class="balanced">${{coin_usd(int(coin.fee,coin.coin) || 0 | number:2}}</b>
    </h5>
    </div>

    <div class="item item-divider" ng-if="!show_coin">
        <v>Total</v> <b class="orange pull-right" style="float: right !important;">{{(coin.fee +coin_amount) || 0 | number:8}} {{coin.coin | uppercase}}</b><br>
        <h5 class="text-center pull-right" style="float: right !important;">
          <b class="balanced">${{coin_usd(int(coin_amount) + coin.fee,coin.coin) || 0 | number:2}}</b>
        </h5>
        </div>
    
    
    <br>
    <button ng-click="affiliate_buy(coin_amount)" ng-disabled="!coin_amount" style="color:#fff !important;font-size:14px;width: 100%;background-color: rgb(216, 141, 1) !important;" class="button button-full button-dark">
       BUY
    </button>


    </ion-content>

</ion-modal-view>