<ion-modal-view class="bg-blue-2">
    <ion-header-bar class="bar bar-header bg-blue-2">       
        <button ng-click="coin_transaction_box.hide()" class="button button-clear"  style="float:left;font-weight: bold;">&nbsp;<b><i class="ti ti-close light"></i></b>&nbsp;</button>          
        <ion-title><b>Transaction</b></ion-title>
    </ion-header-bar>
    <ion-content class="padding text-left bg-white">
        <br><br><br><br>

        <div class="list"> 

            <div class="text-center padding">
                <img src="{{media+coin.icon}}" height="80"/>
                <h2 ng-class="transaction.credit ? 'balanced':'assertive'">
                    <v ng-if="!transaction.credit">-</v>  
                    <v ng-if="transaction.credit">+</v> 
                     {{transaction.amount || 0.00000000 | number:8}}&nbsp;{{coin.symbol | uppercase}}
                </h2>
                <h4 ng-if="user.in_currency=='ngn'" class="dark">NGN {{transaction.amount * (coin.sell_rates * coin.selling.usd) || 0 | number:2}}</h4>
                <h4 ng-if="user.in_currency=='usd'" class="dark">USD {{transaction.amount * coin.selling.usd || 0 | number:2}}</h4>  
                <h6>{{transaction.description}}</h6>
            </div>

            



            <div ng-if="transaction.fee" class="item item-light">
                <v>Fee</v> <b class="orange pull-right" style="float: right !important;">{{transaction.fee || 0.00000000 | number:8}}&nbsp;{{coin.symbol | uppercase}}</b>
            </div>



            <div ng-if="transaction.to" class="item item-body">
                <b>Address Sent</b>
                <h6 class="orange">{{transaction.to}}</h6>
            </div>


            <div ng-if="transaction.user_name" class="item item-body">
                <b>Sent To</b>
                <h6 class="orange" ng-click="view_profile(transaction.username)">@{{transaction.user_name}}</h6>
            </div>



                <div class="item item-body" ng-if="transaction.hash">
                    <button ng-click="copy(transaction.hash)" style="float: right;" class="button button-small button-dark">copy</button>
                    <b class="dark">Hash</b>
                    <h6 class="dark">{{transaction.hash}}</h6>
                </div>


                <div class="item item-light" ng-if="transaction.date">
                    <b class="dark">Date Created</b>
                    <v class="dark pull-right" style="float: right !important;">{{transaction.date | date}}</v>
                    </div>
    

        </div>

<!-- 
      <button ng-click="coin_transaction_box.hide()" style="border-radius: 20px;color:#fff !important;font-size:14px;width: 100%;background-color: rgb(1, 51, 216) !important;" class="button button-full button-dark">
        Okay
     </button> -->
    </ion-content>

</ion-modal-view>