
<ion-modal-view style="background-color: #fff !important;" class="text-center">
    <ion-header-bar class="bar bar-header bar-light">    
      <button ng-click="filter_box.hide()" class="button button-clear but2"  style="float:left;font-weight: bold;color: #300 !important;">&nbsp;<i class="ti ti-close"></i>&nbsp;</button>
      <ion-title><b>Filter</b></ion-title>
    </ion-header-bar>
 
   <ion-content class="padding text-center" style="background-color: #fff !important;">
   <br>
<b>Select type</b>
<hr>
  <div class="list">
    <ion-radio ng-model="store_type" ng-value="" ng-change="select_type()" class="item text-left item-checkbox assertive" style="margin-bottom:10px;">
          <b style="color:#000 !important;">All</b>
    </ion-radio>
    <ion-radio ng-model="store_type" ng-value="store.type" ng-change="select_type(store.type)" class="item text-left item-checkbox assertive" style="margin-bottom:10px;" ng-repeat="store in stores | unique:'type'">
          <b style="color:#000 !important;">{{store.type | capitalize}}</b>
    </ion-radio>
</div>

<button ng-click="filter_box.hide()" class="button button-round button-dark button-full">Save</button>     
      


   </ion-content>
   </ion-modal-view>