<ion-modal-view class="bg-blue-2">
  <ion-header-bar class="bar bar-header bg-blue-2">   
              <!-- <ion-title><small><b>Validate OTP</b></small></ion-title> -->
              <button ng-click="otp_box.hide()" class="button button-light"  style="float:right;font-weight: bold;border:none !important;">&nbsp;X&nbsp;</button>          
        </ion-header-bar>
      
        <ion-content class="padding text-left">
  
  <form id="paynote" class="card padding" ng-submit="otp_validator(otp)">       
    
          <br>
          <div class="padding">
            <h5>provide the OTP that was sent to your phone number/email</h5>
          </div>
          <div class="row">
              <div class="col col-90">
              <label>OTP</label>
              <input type="text" name="otp" ng-model="otp" placeholder="otp code">
              </div>
          </div>
  
    <Br>
  
      <button type="submit" ng-disabled="!otp" style="border-radius: 20px;color:#fff !important;font-size:14px;width: 100%;background-color: rgb(216, 141, 1) !important;" class="button button-full button-dark">
          confirm
      </button>
          <br>
      <div class="text-center" style="width:100% !important;margin:auto;line-height: 13px !important;color: #686767;">
              <small>secured by <b>MunchPay</b>&trade;</small>
          </div>
          <br>
  </form>
  
  
    </ion-content>
  
    </ion-modal-view>