
<ion-modal-view class="bg-blue">
        
    <ion-header-bar class="bar bar-header bg-blue">
        <button ng-click="pay_box.hide()" class="button button-clear"  style="float:right;font-weight: bold;color: rgb(248, 244, 244) !important;">&nbsp;<span class="ti ti-close light"></span>&nbsp;</button>          
        <ion-title><b>Pay</b></ion-title>
    </ion-header-bar>
  
    <ion-content class="bg-grey padding">
        <br/>
        <h5 class="black">Select payment method</h5>
<!-- <div class="item item-avatar padding" ng-click="pay(trader)" style="padding-bottom: 20px !important;">
    <img  ng-if="user.in_currency=='ngn'" src="/img/ng.png" class="avatar"/>
    <img ng-if="user.in_currency=='usd'" src="/img/usd.png" class="avatar"/>
    <h4  style="padding-top: 20px !important;">From wallet</h4>
</div> -->
<div class="item item-avatar padding" ng-click="send_funds(btc)" style="padding-bottom: 20px !important;">
    <img src="{{media+btc.icon}}" height="30" />
    <h4 style="padding-top: 20px !important;">Bitcoin</h4>
</div>
<div class="item item-avatar padding" ng-click="send_funds(eth)" style="padding-bottom: 20px !important;">
    <img src="{{media+eth.icon}}" height="30" />
    <h4 style="padding-top: 20px !important;">Ethereum</h4>
</div>
<div class="item item-avatar padding" ng-click="send_funds(usdt)" style="padding-bottom: 20px !important;">
    <img src="{{media+usdt.icon}}" height="30" />
    <h4 style="padding-top: 20px !important;">USDT</h4>
</div>

</ion-content>

</ion-modal-view>
