<ion-modal-view class="bg-rage">

    <ion-header-bar class="bar bar-header bg-rage">       
        <button ng-click="pin_box.hide()" class="button button-clear"  style="float:left;font-weight: bold;">&nbsp;<b><i class="ti ti-close light"></i></b>&nbsp;</button>          
        <ion-title><b>Pin</b></ion-title>
    </ion-header-bar>
  
    <ion-content class="padding text-left bg-rage">
            <br/>
            <form ng-submit="auth_pin(pin)">    
                    <b class="light">Input 4 digit Pin</b>
                    <br/>
                    <br/>
                    <div class="item item-input">
                        <input type="password" name="pin" pattern="[0-9]*" inputmode="numeric" ng-model="pin" maxlength="4" placeholder="1234"/>
                    </div>
                <br/>
                <button type="submit" ng-disabled="!pin" style="color:#fff !important;font-size:14px;width: 100%;background-color: rgb(216, 141, 1) !important;border:none !important;" class="button button-full button-dark">
                    confirm
                </button>
            </form>
  
    </ion-content>
  
</ion-modal-view>