<ion-modal-view class="bg-blue">
   <ion-header-bar class="bar bar-header bg-blue">
           <ion-title><b>Scan</b></ion-title>
           <button ng-click="scan_box.hide()" class="button but2"  style="float:right;font-weight: bold;color: #300 !important;">&nbsp;close&nbsp;</button>          
     </ion-header-bar>
   
     <ion-content class="text-center">
  
           <div class="padding">
               <br><br>
               <span  ng-click="scan()" style="font-size:50px; color:rgb(233, 142, 6)" class="ti ti-shortcode oran"></span>
               <br><br><br>
           </div>
           
               <br>
       
            <div class="padding">
                <button class="button button-lg button-dark button-full" ng-click="scan()">scan code</button>
            </div>
       
     </ion-content>


   </ion-modal-view>
   