<ion-item ng-if="!user.pool_id && (verification_level >= 3)" class="item-light padding ad_affiliate" style="margin-bottom: 16px !important;">
    <div class="ad_affiliate_img">
    </div>
    <div class="text-left item-body pull-left">
        <h2 class="text-left light" style="font-size: 20px !important;"><b>Set Your Rates</b></h2>
        <h5 class="light">Join the obic affiliate and trade in the market to sell at your rate and compete with other traders.</h5>
    <button ui-sref="affiliate" class="button button-long button-oran">Set your rate</button>
    </div>
</ion-item>