<ion-item class="item-light padding ad_coin" style="margin-bottom: 16px !important;">
    <div class="ad_affiliate_img">
    </div>
  <div class="text-left item-body pull-left">
    <h2 class="text-left light" style="font-size: 20px !important;"><b>Trade with us!</b></h2>
        <h4 class="light">We give you the best rates chief, you can rely on us on any asset</h4>
    <button ui-sref="front.wallet" class="button button-long button-blue">&nbsp;&nbsp;Start Trading&nbsp;&nbsp;</button>
    </div>
</ion-item>