<ion-item class="item-light padding ad_giftcard" ng-if="verification_level >= 2" style="margin-bottom: 16px !important;">
    <div class="ad_giftcard_img">
    </div>
    <div class="text-left item-body pull-left">
        <h2 class="text-left dark" style="font-size: 20px !important;"><b>Sell Giftcards</b></h2>
        <h5>You can sell gift cards and get paid instantly to your wallet</h5>
    <button ui-sref="front.seller" class="button button-long button-oran">Start Selling</button>
    </div>
</ion-item>

