<ion-item class="item-light padding ad_spotlight" ng-if="verification_level >= 3" style="margin-bottom: 16px !important;">
    <div class="ad_spot_img">
    </div>
    <div class="text-left item-body pull-left">
        <!-- <div class="profile_photo_medium" style="float: right !important;margin-top: 20px;" ng-style="{'background-image':'url('+media+user.photo+')'}"></div>          -->
        <br><br>
        <h2 class="text-left light" style="font-size: 20px !important;"><b>Marketplace</b></h2>
        <h5 class="light">Buy and sell at the best rates in the market</h5>
        <button ui-sref="front.marketplace" class="button button-long button-royal" style="border: none !important;">Explore</button>
    </div>
</ion-item>