<ion-item class="item-dark text-center padding ad_giftcard" ng-if="user.pool_id && (verification_level >= 3)" style="margin-bottom: 16px !important;">
    <br>
    <h2 class="text-left light">Hello {{user.full_name}}</h2>
    <h6 class="text-left light">Today's sales progress</h6>
      <div  ng-include="'components/today_chart.html'"></div>

      <div class="item  item-dark2 text-left padding">
        <h2 style="margin-top: 8px !important;" class="light"><span class="ion ion-pricetag orange"></span> Today's sales <b class="orange pull-right" style="float: right;">{{(trades | filter:TodaySales).length || 0}}</b></h2>
      </div>
      <br>
    <button ui-sref="front.dashboard" class="button button-small text-center button-dark">&nbsp;&nbsp;view rates&nbsp;&nbsp;</button>
    <br><br>
</ion-item>

