
    <div class="item item-divider assertive text-center" ng-if="!verification_level || verification_level < 3">
        <div class="item-body">
        <span class="icon ion-android-warning" style="font-size:30px !important;"></span> 
       <br>
       <b>You are almost done!</b>
       <h4>Complete your profile verification before you start trading</h4>
       <button ui-sref="verification" class="button button-small button-full button-energized" style="border: 3px solid rgba(228, 150, 33, 0.856) !important;">Verify account</button>
      </div>
    </div>