b,h1,h2,h3,h4,h5,h6,a,label,small{
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif !important;
}
label{
  font-weight: bolder !important;
}


.pill{
  font-size: 11px;
  border-radius: 30px;
  padding: 7px 14px 3px 14px !important;
  margin: 8px !important;
  height: auto !important;
  max-height: 40px !important;
 width:auto !important;
  float: left !important;
}

.pill b{
  padding: 15px !important;
}

.pill img{
  float: left !important;
}


.border-round{
  border-radius: 400px !important;
}



.transparent{
  opacity: 0.4;
}

.light-blue{
  color: rgb(137, 188, 255) !important;
}


.display-img{
	width: 120px !important;
	height: 70px !important;
	margin: auto !important;
	background-color: rgb(41, 51, 59);
  border-radius: 9px !important;
	/* background-image: url('/images/bg/digital-map.jpg'); */
	background-size: cover !important;
}


.display-img1{
	width: 200px !important;
	height: 150px !important;
	margin: auto !important;
	background-color: rgb(41, 51, 59);
  border-radius: 9px !important;
  background-position: center !important;
	background-size: cover !important;
}




.ad_spotlight{
  background-color: rgba(32, 3, 78, 0.918) !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
  background-blend-mode:hue;
  background-size: cover;
  background-position: top;
  border-radius: 0px !important;
}


.ad_coin{
  background-color: rgba(31, 43, 150, 0.904) !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
}


.ad_spot_img{
	width: 150px !important;
	height:240px !important;
	margin: auto !important;
  float: right !important;
	background-color: rgba(41, 51, 59, 0);
	background-image: url('/img/market.png');
	background-size: cover !important;
  background-position: bottom;
  margin-bottom: -40px !important;
  direction: ltr !important;
}


.ad_coin_img{
	width: 150px !important;
	height:180px !important;
	margin: auto !important;
  float: right !important;
	background-color: rgba(41, 51, 59, 0);
	background-image: url('/img/coins.png');
	background-size: cover !important;
  background-position: bottom;
  margin-bottom: -40px !important;
  direction: ltr !important;
}



.ad_send{
  background-color: rgba(81, 51, 190, 0.904) !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
}


.ad_send_img{
	width: 150px !important;
	height:180px !important;
	margin: auto !important;
  float: right !important;
	background-color: rgba(41, 51, 59, 0);
	background-image: url('/img/coinz3.png');
	background-size: contain !important;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: -40px !important;
  direction: ltr !important;
}





.ad_affiliate{
  background-color: rgba(150, 89, 31, 0.904) !important;
  border: none !important;
  color: rgb(255, 255, 255) !important;
}


.ad_affiliate_img{
	width: 150px !important;
	height:210px !important;
	margin: auto !important;
  float: right !important;
	background-color: rgba(41, 51, 59, 0);
	background-image: url('/img/a2.png');
	background-size: cover !important;
  background-position: center;
  margin-bottom: -40px !important;
  direction: ltr !important;
}






.ad_giftcard{
  background-color: rgba(243, 243, 243, 0.904) !important;
  border: none !important;
  color: rgb(2, 98, 189) !important;
}


.ad_giftcard_img{
	width: 150px !important;
	height:180px !important;
	margin: auto !important;
  float: right !important;
	background-color: rgba(41, 51, 59, 0);
	background-image: url('/img/giftad2.png');
	background-size: contain !important;
  background-position: center;
  background-repeat: no-repeat !important;
  margin-bottom: -40px !important;
  direction: ltr !important;
}


.card-img2{
  width: 150px;
  height: 120px;
  border: none;
  margin: auto;
  float: right !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  margin-bottom: -40px !important;
  direction: ltr !important;
}

.button-oran{
  background-color: rgb(255, 174, 52) !important;
  border: 1px solid  rgb(252, 152, 39) !important;
  color: rgb(255, 255, 255) !important;
}

.button-dark-blue{
  background-color: rgb(15, 36, 82) !important;
  border: 1px solid  rgb(7, 32, 117) !important;
  color: rgb(255, 255, 255) !important;
}



.button-blue{
  background-color: rgb(52, 106, 255) !important;
  border: 1px solid  rgb(39, 71, 252) !important;
  color: rgb(255, 255, 255) !important;
}





.border-dark{
  border: 2.5px solid  rgba(95, 49, 28, 0.575) !important;
  box-shadow: unset 24px 25px 45px #000 !important;
}







.pill-oran-outline{
  background-color: rgba(255, 0, 0, 0);
  border: 1px solid  rgb(252, 152, 39);
  color: rgb(252, 152, 39);
}

.pill-assertive{
  background-color: red;
  color: #fff;
}
.pill-balanced{
  background-color: rgb(32, 88, 0);
  color: #fff;
}

.pill-light{
  background-color: rgba(236, 236, 236, 0.521);
  color: rgb(27, 24, 24);
}


.title-oran{
   color: rgb(236, 153, 27) !important;
}


.title-red{
   color: orangered !important;
}

.bg-oran{
  background-color: rgb(246, 176, 25) !important;
  color: #fff !important;
}


.bg-blue{
  background-color: #010047 !important;
  color: #fff !important;
}

.bg-purple{
  background-color: #2c075c !important;
  color: #fff !important;
}


.bg-blue2{
  background-color: #2f2e55be !important;
  color: #fff !important;
}




.bg1{
  height: 100%;
  background-image:url("../img/coinz3.png") !important;
  background-size: cover !important;
  background-blend-mode: hue !important;
  background-position: center !important;
}


.bg2{
  height: 100%;
  background-image:url("../img/coinz1.png") !important;
  background-size: cover !important;
  background-blend-mode: hue !important;
  background-position: center !important;
}

.bg5{
  height: 100%;
  background-image:url("../img/coins.png") !important;
  background-size: cover !important;
  background-blend-mode: hue !important;
  background-position: center !important;
}


.blue-border{
  border:5px solid rgb(27, 27, 109) !important;
  margin-top: -20px !important;
}

.bg3{
  height: 100%;
  background-image:url("../img/coinz.jpeg") !important;
  background-size: cover !important;
  background-blend-mode: soft-light !important;
  background-position: center !important;
}


.bg-blue-2{
  background-color: rgb(9, 23, 70) !important;
  color: #fff !important;
  border:none !important;
  border-radius: 7px !important;
}



.bg-dark-blue{
  background-color: rgb(8, 16, 44) !important;
  color: #fff !important;
  border:none !important;
  border-radius: 7px !important;
}


.profile-bg{
  width:100% !important;
  /* box-shadow:inset 0px 19px 700px 0px white !important; */
  float:left !important;
  height:100vh !important;
  min-height: 250px !important;
  background-color:rgba(0, 0, 0, 0.637) !important;
  background-blend-mode: soft-light !important;
  background-image: url('/img/bg2.png') !important;
  padding: 8px !important;
  background-size: cover !important;
  background-position: center !important;
}

.badge-dark{
  background-color:#000 !important;
}

.bg-oranx{
  background-color: rgb(235, 161, 1) !important;
  color: #fff !important;
}



.red{
  color: rgb(252, 116, 25) !important;
  border: none !important;
}

.button-red{
  background-color: rgb(252, 116, 25) !important;
  color: #fff !important;
}


.button-clear{
  border:none !important;
}


.input-energized{
  background-color: rgb(241, 186, 4) !important;
  padding: 5px 13px 5px 13px !important;
  color: rgb(19, 16, 16) !important;
  margin-top: 8px !important;
  border-radius: 7px !important;
  border: none !important;
}
.input-grey{
  background-color: rgba(79, 79, 79, 0.212) !important;
  padding: 5px 13px 5px 13px !important;
  color: rgb(19, 16, 16) !important;
  margin-top: 8px !important;
  border-radius: 7px !important;
  border: none !important;
}
.item-input select{
  border:none !important;
  width: 100% !important;
  text-align: left !important;
  height: 30px !important;
}

 ion-content{
   background-color: #eeeeee8f;
   background-size: cover;
   background-repeat: no-repeat;
   background-blend-mode: soft-light;
   background-position: 0px 50px;
   margin-top: 0px !important;
 }

.welcome_text {
   padding:30px;
   float: left;
   color: white;
   width: 100%;
   margin-top:60vh !important;
 }
 .welcome_text2 {
   padding:30px;
   float: left;
   color: white;
   width: 100%;
   margin-top:20vh !important;
   margin-bottom:50px !important;
 }
.item{
  border-radius:6px;
}

 .item-box{
   width:32.5%;
   min-height: 180px; 
   margin:0.3%;
   overflow: hidden;
   padding-top:13% !important;
   float:left;
   height: 25vw;
   background-color: #302f2f;
   background-image: url('../img/cream_transparent.png');
   background-blend-mode: soft-light;
   overflow: hidden;
   background-size: 60px;
   background-position: center;
   background-repeat: no-repeat;
   border-radius: 10px;
   cursor: pointer !important;
   border: none;
 }

 .bar{
  height: 50px !important;
 margin-top: 0px !important;
 padding-top: 10px !important;
 border:none !important; 
}

 .bar-trans{
background-color:rgba(248, 248, 248, 0) !important;
margin-top: 0px;
padding-top: 40px !important;
height: 110px;
border: none !important;
box-shadow: none !important;
 }

 .pill-box{
   height: auto !important;
   /* max-height: 25px !important; */
   width:auto !important;
   padding:7px !important;
   float: left !important;
   text-align: center !important;
   margin: 5px !important;
   padding-right: 16px !important;
   padding-left: 16px !important;
   font-size: 12.5px !important;
   border: 1px solid rgb(0, 0, 0) !important;
   border-radius: 10px !important;
   background-color:rgb(0, 0, 0) !important;
   color:rgb(255, 166, 0) !important;
   font-weight: bolder !important;
}
.darker{
  background-color:#000 !important;
}


.pill-box8{
  height: auto !important;
  /* max-height: 25px !important; */
  width:auto !important;
  padding:7px !important;
  float: left !important;
  text-align: center !important;
  margin: 5px !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
  font-size: 12.5px !important;
  border: 1px solid rgb(201, 201, 201) !important;
  border-radius: 10px !important;
  background-color:rgb(235, 235, 235) !important;
  color:rgb(255, 163, 24) !important;
  font-weight: bolder !important;
}


.story_box{
  width: 40.3vw !important;
  height: 40vw !important;
  padding: 10px !important;
  text-align: center !important;
  float: left;
  border-radius: 6px !important;
  background-color: #0f171a98;
  color: #fff !important;
  margin: 10px !important;
  background-size: cover;
  background-blend-mode: overlay;
  background-position: center;
}


.box-bg{
  background-size: cover;
  background-blend-mode: overlay;
  background-position: top;
  background-image: url('../img/card_bg.jpg');
}


ion-scroll[direction=x] {
  width: 100vw;
}
ion-scroll[delegate-handle=calendarScroll] {
  height: 160px;
}

.profile_photo_medium{
  width:130px;
  height:130px;
  background-size: cover;
  border-radius: 360px !important;
  background-color: rgba(19, 63, 9, 0.836);
  margin-top: 20px !important;
  margin-left: 20px !important;
  /* background-image: url('../img/dp.png'); */
  overflow: hidden;
  z-index: 2000000;
  direction: ltr;
  position: relative;
  background-position: center !important;
  border: none !important;
}


.profile_photo_small{
  width:100px;
  height:100px;
  background-size: cover;
  border-radius: 360px !important;
  background-color: rgba(19, 63, 9, 0.836);
  margin-top: 10px !important;
  margin-left: 70px !important;
  /* background-image: url('../img/dp.png'); */
  overflow: hidden;
  z-index: 2000000;
  direction: ltr;
  position: relative;
  background-position: center !important;
  border: none !important;
}



.profile_photo_big{
  width:150px;
  height:150px;
  background-size: cover;
  border-radius: 360px !important;
  background-color: rgba(19, 63, 9, 0.836);
  margin-top: 30px !important;
  margin:auto !important;
  /* background-image: url('../img/dp.png'); */
  overflow: hidden;
  z-index: 2000000;
  direction: ltr;
  position: relative;
  background-position: center !important;
  margin-top: 0px !important;
  border: none !important;
}

.profile_photo_big img{
z-index: 1000;
zoom: 12%;
}

.active_line{
  border-top:1px solid rgb(255, 115, 0) !important;
  }

  
  .inactive_line{
    border-top:1px solid rgb(49, 49, 49) !important;
    }
      
.post-header{
   background:#000 !important;
   border:none !important;
   /* box-shadow:inset 0px 90px 120px 0px rgba(0, 0, 0, 0.82) !important; */
   width:100vw !important; 
   height:50px !important;
   float: left !important;
   margin: 0px !important;
   border-radius: 0px !important;
   padding-top: 12px !important;
   padding-bottom: 8px !important;
}

.post-grade{
  box-shadow:inset 0px 150px 180px 0px rgba(0, 0, 0, 0.945) !important;
   -webkit-font-smoothing: antialiased !important; 
   width: 100vw !important;
   margin: 0px !important;
   margin-top: -18px !important;
   border-radius: 0px !important;
   float: left !important;
}

.post-body{
    /* background-image: url('../img/cream_transparent.png'); */
    background-size: 50px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden !important;
    height: auto !important;
    min-height: 250px !important;  
    background-color: rgb(0, 0, 0) !important;
    border: none !important;
    width: 101vw !important;
}

.body-dark{
  background-color: #000 !important;
  color:#fff !important;
  border-radius: 0px !important;
  border: none !important;
}


.body-dark, .body-dark .mk{
  color: #fff !important;
  }

.badge-green-b{
  background-color: rgb(1, 129, 44) !important;
  color:#fff !important;
  padding:2px 14px 2px 14px !important;
  border-radius: 17px !important;
  font-weight: bolder !important;
}

.wallet-button{
  background-color: #fff !important;
  color: rgb(0, 0, 0) !important;
}
.badge-red{
  border-radius: 20px !important;
  padding: 1px 9px 1px 9px !important;
  background-color: rgb(221, 1, 1) !important;
  border:2px solid rgb(231, 1, 1) !important;
  color:#fff !important;
}

.border-green,.button-red{
  background-color: rgb(221, 1, 1) !important;
  border:2px solid rgb(231, 1, 1) !important;
  color:#fff !important;
}

.border-red{
  background-color: rgb(221, 1, 1) !important;
  border:4px solid rgb(231, 1, 1) !important;
  color:#fff !important;
}

.body-oran{
  background-color: rgb(161, 91, 10) !important;
  color:#fff !important;
  border-radius: 0px !important;
  border: none !important;
}

.badge-round{
  border-radius: 10px !important;
}

.body-oran, .body-oran b{
  color: #fff !important;
  }

.loading-container{
background-color: rgba(34, 21, 13, 0.021);
}

.post-body ion-slide-box{
  height:100% !important;
  background-color: rgb(0, 0, 0);
}
.post-body ion-slide{
  box-shadow:inset 0px 90px 90px 0px rgba(0, 0, 0, 0.82) !important;
  background-color: rgb(0, 0, 0);
}
.post_load{
  transform: translateZ(0);
  animation: hd-quality 1.3s both;
}




.post{
  height:auto !important;
  width:100vw !important;
  min-height: 400px !important;
  background-size: cover !important;
  background-position: top !important;
  background-color: rgb(0, 0, 0) !important;
   -webkit-font-smoothing: antialiased; 
   border:none !important;
   float: left !important;
}

.post-thumbnail{
  height:auto !important;
  width:100% !important;
  background-size: cover !important;
  background-position: top !important;
  background-color: rgb(0, 0, 0) !important;
   -webkit-font-smoothing: antialiased; 
   border:none !important;
   float: left !important;
   overflow: hidden;
}
.post2{
  height:145vw !important;
  width:100%;
  background-size: cover !important;
  background-position: top !important;
  background-color: rgb(37, 37, 37);
   -webkit-font-smoothing: antialiased; 
}
.slider-pager .slider-pager-page {
  color: #fff !important;
}
.dark-slide .slider-pager .slider-pager-page {
  color: rgb(27, 27, 27) !important;
}

.slider-pager {
  bottom:20px !important;
}

.post-footer{
   width: 101vw !important;
   padding-top:10px !important;
   border-bottom:none !important;
   border-radius: 0px !important;
   float: left !important;
   padding-bottom: 40px !important;
}

.post-footer .mk{
color: #fff !important;
}
  

.artist_dp{
   width:60px;
   height:60px;
   border-radius: 500px;
   overflow: hidden;
   z-index: 2000;
   margin-right: auto;
   margin-left: auto;
   margin-top:20px;
   direction: ltr;
   display: block;
   background-size: cover;
   border: 3px solid rgba(255, 151, 32, 0.438);
   background-image:url("../img/dp.png");
   background-color: rgba(255, 151, 32, 0.438);
 }

.hidden{
display: none !important;
}

  
.bar-oran{
background-color: orange !important;
color: #fff !important;
margin-top: -0px !important;
padding-top: 30px !important;
height: 80px !important;
}

.bar-oran ion-title,.bar-oran .bar-title{
margin-top: 23px !important;
}


.bar-oran .ti-close{
  color: #fff !important;
}



.bar-assertive-b{
  background-color: rgb(255, 38, 0) !important;
  color: #fff !important;
  margin-top: -0px !important;
  padding-top: 30px !important;
  height: 80px !important;
  }
  
  .bar-assertive-b ion-title,.bar-assertive-b .bar-title{
  margin-top: 23px !important;
  }
  
  
  .bar-assertive-b .ti-close{
    color: #fff !important;
  }
  
  

 .map_case{
   width:100%;
   float: left;
   height:66vh !important;
   background-image:url('img/map.png');
   background-size:contain;
   background-color:#031d24 !important;
   overflow: hidden; 
   direction: ltr;
  margin-bottom:-20px;
 }

.chart{
  width: 100% !important;
}


 .item-dark{
  border:none !important;
  background-color: rgb(15, 15, 15) !important;
  }

  .item-dark2{
    border:none !important;
    background-color: rgb(36, 35, 35) !important;
    }
      


.border_loader {
   outline: 10px solid darkred;
   animation: 1.2s abo ease infinite;
 }
 
 @keyframes abo {
   to {
     outline-color: coral;
   }
 }
 .border_loader svg {
   position: absolute;
   top: -1px;
   left: 0;
   z-index: 1000;
 }
 
 .border_loader svg line {
   stroke-width: 10;
   stroke: white;
   fill: none;
   stroke-dasharray: 110;
   animation: 1s lili ease infinite;
 }
 
 @keyframes lili {
   99% {
     -webkit-transform: translateX(-510px);
     transform: translateX(-510px);
   }
 }
 
 @keyframes sos {
   0%   { left: -100px; opacity:0;}
   5%   { left: -75px; opacity:0.2;}
   10%   { left: -50px; opacity:0.4;}
   15%   { left: -25px; opacity:0.6;}
   20%  { left: 0px;opacity:1; }
   100% { left: 0px;opacity:1; }
 }
 


 .listening svg {
  stroke: rgb(255, 166, 0) !important;
  fill: rgb(255, 145, 0) !important;
  width: 100px !important;
  height: 100px !important;
  margin-left:auto !important;
  margin-right:auto !important;
  display: block !important;
  text-align: center !important;
  z-index: 1000000000 !important;
  direction: ltr;
  position: relative !important;
}


.list .item.item-accordion {
   line-height: 38px;
   padding-top: 0;
   padding-bottom: 0;
   transition: 0.09s all linear;
 }
 .list .item.item-accordion.ng-hide {
   line-height: 0px;
 }
 .list .item.item-accordion.ng-hide-add,
 .list .item.item-accordion.ng-hide-remove {
   display: block !important;
 }
 ion-nav-bar,.bar.bar-light{
   border:none !important;
 }
 
 
 .bar-blank{
   background: transparent !important;
   background-color: rgba(255, 255, 255, 0.06) !important;
   color: #060303 !important;
   border:none !important;
   width: 100% !important;
   float: left !important;
   color:#7D1C02 !important;
   transition: all ease 0.5s;
   box-shadow: 0px 5px 8px 0px #222222 !important;
 }
 
 
  .user_box {
   width: 30px !important;
   background: rgb(255, 129, 25);
   height: 30px !important;
   background-size:cover;
   background-repeat: no-repeat;
   box-shadow: 0px 2px 8px 0px #00000062;
   transition: all ease-in 0.8s;
   color:rgb(255, 255, 255) !important;
   text-align: center !important;
   border:5px solid white !important;
   border-radius: 360px !important;
   /* padding: 5px !important; */
 }


 .a_box {
  width: 33px !important;
  background: rgb(82, 33, 21);
  height: 33px !important;
  background-size:cover;
  background-repeat: no-repeat;
  /* box-shadow: 0px 2px 8px 0px #00000062; */
  transition: all ease-in 0.8s;
  color:rgb(255, 255, 255) !important;
  text-align: center !important;
  border:1px solid rgb(173, 84, 0) !important;
  border-radius: 360px !important;
  /* padding: 5px !important; */
}
 
 /* .user_box .details{
   padding: 7px !important;
   padding-left: 13px !important;
   padding-right: 13px !important;
   float: left;
 } */
 
 /* .user_box:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-top-color: rgb(255, 129, 25);
    border-bottom: 0;
    border-left: 0;
    margin-left: -5px;
    margin-bottom: -8px;
 } */
 
 
 
.border{
   border:2px solid #e7e7e7;
   padding: 6px;
   margin: 1px;
}


.profile_skin{ 
  background-repeat:repeat;
 background-size: cover;
 background-position: center; 
 background-color: #0e0d0d !important;
 background-image: none !important;
 height: 100%;
 border:none !important;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: white;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.profile_square{
   width: 55px;
   height: 60px;
   border:1px solid rgb(88, 73, 67);
   border-top-left-radius: 3px;
   border-bottom-left-radius: 3px;
   background-size: cover !important;
   float: left;
   background-color: #B79C9C;
   overflow: hidden;
 }


 


 .service-post-thumbnail{
  width: 64px !important;
  margin: 4px !important;
   height:64px !important;
   float: left;
 text-align: center;
 background-size: cover;
 background-position: center; 
 border-radius: 9px !important;
 border:none !important;
 display: table;
  vertical-align: middle;
  background-color: rgb(24, 24, 24) !important;
  overflow: hidden;
 }


 .work_prev{
  width: 130px;
  margin: 4px;
   height:100px;
   float: left;
 text-align: center;
 background-size: cover;
 background-position: center; 
 border-radius: 11px;
 border:none;
 display: table; vertical-align: middle;
 }


 .card{
   border-radius: 12px !important;
 }


.store_photo{
  width:100% !important;
  height:190px !important;
  background-color:grey;
  background-image:url("../img/4.png");
  background-size:cover !important;
  float:left;
  margin-bottom:10px !important;
}



.scroll-x{
  width: 100%;
  height:340px !important;
  overflow-x: scroll;
  float: left;
  position: relative;
}


.no-border{
  border-radius: 0px !important;
}

.store_board{
  width: 100%;
  height:180px !important;
  float: left;
  background-color: rgba(71, 61, 55, 0.623) !important;
  margin-bottom: 20px !important;
  background-size: cover !important;
  background-position: top !important;
}

.store_banner{
  height: 140px !important;
  width: 100vw !important;
  padding-top: 25px;
  background-color: rgb(20, 14, 1) !important;
  color: #fff !important;
  background-size: cover !important;
  background-position: center !important;
  box-shadow: inset 0px 180px 300px 0px rgba(27, 27, 27, 0.637) !important;
  filter: blur(0px);
}


.small-box{
  width: 50px !important;
  height:50px !important;
  position: relative;
  background-color: rgb(184, 180, 178);
  background-size: cover !important;
  margin: 10px !important;
}


.footer-dark{
  background-color: black !important;
  height: 80px !important;
  color: white !important;
  padding: 15px !important;
}

.footer-oran{
  background-color: rgb(221, 142, 23) !important;
  height: 80px !important;
  color: white !important;
  padding-top: 18px !important;
  text-align: center !important;
  width: 100vw !important;
  padding-bottom: 10px !important;
  font-size: 18px !important;
}



.footer-green{
  background-color: rgb(55, 121, 2) !important;
  height: 80px !important;
  color: white !important;
  padding-top: 18px !important;
  text-align: center !important;
  width: 100vw !important;
  padding-bottom: 10px !important;
  font-size: 18px !important;
}

.footer-oranx{
  background-color: rgb(146, 76, 11) !important;
  height: 80px !important;
  color: white !important;
  padding: 15px !important;
  text-align: center !important;
  width: 100% !important;
}





.scroll-x-min{
  width: 100%;
  height:50px !important;
  overflow-x: scroll;
  float: left;
  position: relative;
}

.item-row {
  flex-wrap: wrap;
  width: 100%;
  float: left;
  height: auto;
  display: run-in;
  min-height:200px;
  line-height: 17px;
}


.item-row .item {
  width: 49% !important;
  float: left;
}




.welcome_page{ 
  background-image:url("../img/welcome/2.jpg") !important;
  /* background-image:url("../img/t4.svg"); */
  background-blend-mode:soft-light !important;
   background-repeat:no-repeat !important;
  background-size: cover !important;
  background-position: center; 
  background-color: #1a1919be !important;
  height: 105vh !important;
  margin-top: -20px !important;
}

.card_type{
  width:50px;
  height:30px;
  border:2px solid #000 !important;
  background-size: cover !important;
  float: left;
  margin: 5px;
  margin-right: 15px;
  border-radius: 4px;
}

.mastercard{
  background-image: url('../img/cards/mastercard.jpg') !important;
  background-color: rgb(245, 68, 37) !important;
  background-size: cover !important;
  }
  .mastercard1{
    background-image: url('../img/cards/mastercard.jpg') !important;
    background-color: rgb(245, 68, 37) !important;
    background-size: cover !important;
    }
  .visa{
  background-image: url('../img/cards/visa.png') !important;
  background-color: rgb(86, 186, 253) !important;
  background-size: cover !important;
  }
  .verve{
  background-image: url('../img/cards/verve.png') !important;
  background-color: rgb(9, 69, 109) !important;
  background-size: cover !important;
  }


  .icon-lg{
    font-size:22px !important;
    padding-top:15px !important;
    line-height: 66px !important;
  };

  .read{
    background-color: rgb(230, 230, 230) !important;
    font-weight: lighter !important;
  }

  .unread{
background-color: rgb(255, 238, 202) !important;
font-weight: bolder !important;
  }

  


.pxs{
  width:25px;
  height:25px;
  border-radius: 360px;
  overflow: hidden;
  z-index: 2000;
  background-image:url("../img/dp.png");
  background-size: cover !important;
  display: block;
  font-weight: bold;
  background-color: rgb(255, 145, 0);
  /* border: 3px solid rgb(250, 169, 20); */
  /* position: absolute; */
  float: right;
  margin-right: 8px;
  /* top: 10px; */
}
.pxs img{
  height:110%;
  margin-left: -5%;
  margin-top: -4%;
  z-index: 1000;
  zoom: 12%;
}




.splash_screen{ /* For browsers that do not support gradients */
  background-image:url("../img/icon.png") !important;
  /* background-image:url("../img/t4.svg"); */
  /* background-blend-mode:screen; */
   background-repeat:no-repeat;
   background-size: 200px !important;
   background-position: center !important;
  background-color: rgb(10, 35, 82) !important;
  height: 110vh !important;
  width: 100vw !important;
  min-height:700px;  
  float: left !important;
}



.blkn{
  width: auto !important;
  margin: 3px !important;
  min-height: 50px !important;
  height: auto !important;
  margin: 5px !important;
  float: left !important;
  padding: 8px;
  direction: ltr !important;
  display: block !important;
  color:#fff !important;
  border:none !important;
  border-radius:5px !important;
  font-size: 17px;
  background-size: cover !important;
  background-color: rgba(0, 0, 0, 0.575);
  background-blend-mode: hue !important;
}





.small_service_box{
  width: auto !important;
  margin: 3px !important;
  min-height: 50px !important;
  height: auto !important;
  margin: 5px !important;
  float: left !important;
  padding: 8px;
  direction: ltr !important;
  display: block !important;
  background-color: rgb(238, 238, 238) !important;
  color:rgb(201, 120, 0) !important;
  border:none !important;
  border-radius:5px !important;
  box-shadow: 0px 1px 5px 0px #1a1a1a9d;
  font-size: 17px;
}


.tab_profile{
  width:75px;
  height:65px;
  overflow: hidden;
  z-index: 2000;
  background-size: cover !important;
  display: block;
  font-weight: bold;
  background-color: rgba(255, 145, 0, 0);
  position: absolute;
  float: right;
  right: 0px !important;
  top: 0px !important;
  padding-right: 20px;
  padding-top: 10px;
}


.profile-photo-center{
  width:53px;
  height:53px;
  border-radius: 360px;
  overflow: hidden;
  z-index: 2000;
  background-image:url("../img/dp.png");
  background-size: cover !important;
  display: block;
  font-weight: bold;
  background-color: rgb(219, 142, 40);
  border: 3px solid rgb(250, 169, 20);
  margin: auto !important;
}


.mode_icon{
  width:33px;
  height:33px;
  /* border-radius: 360px; */
  overflow: hidden;
  z-index: 2000;
  display: block;
  font-weight: bold;
  /* background-color: rgba(230, 230, 230, 0.541); */
  float: left;
  margin: 2px;
  margin-top: 11px;
}


.welcome_profile_photo{
  width:33px;
  height:33px;
  border-radius: 360px;
  overflow: hidden;
  z-index: 2000;
  background-image:url("../img/dp.png");
  background-size: cover !important;
  display: block;
  font-weight: bold;
  background-color: rgb(219, 142, 40);
  border: 3px solid rgb(250, 169, 20);
  float: left;
  margin: 2px;
  margin-top: 11px;
}



.welcome_profile_photo2{
  width:63px;
  height:63px;
  border-radius: 360px;
  overflow: hidden;
  z-index: 2000;
  background-image:url("../img/dp.png");
  background-size: cover !important;
  display: block;
  font-weight: bold;
  background-color: rgb(66, 66, 65);
  /* border: 3px solid rgb(250, 169, 20); */
  float: left;
  margin: 2px;
  margin-top: 11px;
}
.padding-left{
  padding-left: 22px !important;
}
.oran .ti{
  margin-right: 39px !important;
}
.profile_head{
  height: 199px !important;
  background-image:url("../img/t.svg");
  background-color: rgba(22, 22, 22, 0.952);
  background-blend-mode: soft-light;
  background-size: cover;
  background-position: center;
  padding-top: 150px !important;
  margin-top:-90px !important;
}

.opium{
  font-size:18px !important;
}

.opium i,.opium .icon{
  font-size:22px !important;
  margin-right: 10px !important;
  float: left !important;
}


.opium b{
  margin-left: 20px !important;
}

.tl_pps{
  width:35px !important;
  height:35px !important;
  border-radius: 360px;
  overflow: hidden;
  z-index: 2000;
  background-size: cover;
  display: block;
  float: left;
  margin-top: -4px !important;
  background-image:url("../img/dp.png");
  background-size: cover;
  background-color: rgb(48, 48, 48) !important;
  border:1px solid rgb(3, 3, 3);
}





.map_pps{
  width:50px;
  height:50px;
  border-radius: 360px;
  overflow: hidden;
  z-index: 2000;
  background-size: cover;
  display: block;
  background-image:url("../img/dp.png");
  background-size: cover;
  background-color: rgb(224, 151, 41) !important;
  border:5px solid white !important;
background-repeat: no-repeat;
box-shadow: 0px 2px 8px 0px #00000028;
transition: all ease-in 0.8s;
}


.map_pps:after {
 content: '';
 position: absolute;
 bottom: 0;
 left: 50%;
 width: 0;
 height: 0;
 border: 20px solid transparent;
 border-top-color: #ffffff;
 border-bottom: 0;
 border-left: 0;
 margin-left: -10px;
 margin-bottom: -20px;
}







.grade_case{
  width:100vw !important;
  /* box-shadow:inset 0px 19px 700px 0px white !important; */
  float:left !important;
  height:auto;
  min-height: 250px !important;
  /* background-color:black !important; */
  z-index:100000000 !important;
  position:absolute !important;
}
.grade_casex{
  width:100vw !important;
  /* box-shadow:inset 0px 19px 700px 0px white !important; */
  float:left !important;
  height:auto;
  min-height: 250px !important;
  /* background-color:black !important; */
  z-index:100000000 !important;
  position:fixed !important;
  padding: 10px !important;
  top: 70px !important;
}


.profile-dash{
  width: 75vw;
  background-color: #000;
  padding: 10px;
}

.tl_name{
  margin-top:-15px !important;
  font-size:14px !important;
  margin-left:-28px !important;
  float: left;
  max-width:180px !important;
}

.artist_on_tray{   
   width: 125px !important;
  margin: 5px;
  height: auto;
  float: left;
}

.artist_dash{
  height:200px;
  width:100%;
  background-position:center;
  background-repeat:repeat;
  background-size:cover;
  background-color:rgb(8, 8, 8);
  background-blend-mode:screen;
  color:#fff !important;
  padding-top:5px;
  padding-bottom:5px;
  overflow: hidden;
  float: left;
}



.artist_dash2{
  height:160px;
  width:100%;
  background-position:center;
  background-repeat:repeat;
  background-size:cover;
  background-color:rgb(8, 8, 8);
  background-blend-mode:screen;
  color:#fff !important;
  padding-top:5px;
  padding-bottom:5px;
  overflow: hidden;
  float: left;
}



.post-grid-30{
width:33.1%; 
min-height: 100px;
margin:0.1%;
overflow: hidden;
/* border-radius: 3px !important; */
background-size: cover !important;
float:left !important;
height: 26vw;
background-color: #181717;
background-position: center;
background-repeat: no-repeat;
display: table-column-group !important;
}



.post-grid-50{
  width:66%; 
  min-height: 100px;
  margin:0.1%;
  overflow: hidden;
  /* border-radius: 3px !important; */
  background-size: cover !important;
  float:left !important;
  height: 52vw;
  background-color: #1f1e1e;
  background-position: center;
  background-repeat: no-repeat;
  display:grid !important;
  display:-ms-grid !important;
  }



  .tutorial_img{
    height:200px;
    width: 100%;
    float: left;
    background-size: contain !important;
    background-repeat: no-repeat;
    background-position: center;
  }


  .pac-container {
        z-index: 3000 !important;
        }
.modal-open {
            pointer-events: auto !important;
        }



        .request_board{
          /* box-shadow:0px 40px 200px 0px rgb(0, 0, 0) !important; */
           background-color: #ffffff;
            width:100%;
            float: left;
            position: relative !important;
             z-index: 30000000 !important;
              border-radius: 30px;
              border-bottom-left-radius: 0px !important;
              border-bottom-right-radius: 0px !important;
           padding-top:10px; 
           height:auto;
           min-height: 400px !important;
        }




        .s_box{
          background-size: cover !important;
          background-color: rgba(0, 0, 0, 0.575);
          background-blend-mode: hue !important;
        }





        

.service_tag{
  height: auto !important;
  display: block !important;
  direction: ltr !important;
  width:auto !important;
  padding-top:7px !important;
  padding-bottom:7px !important;
  float: left;
  margin: 5px !important;
  padding-right: 16px !important;
  padding-left: 16px !important;
  font-size: 11px !important;
  border-radius: 120px !important;
  background-color:rgb(0, 0, 0) !important;
  border:2px solid  rgb(243, 180, 8) !important;
  color: rgb(243, 180, 8) !important;
  margin-top:5px !important;
}

.on-post-button{
  margin-top:-47px !important;
  float: right;
  margin-right: 14px;
  position: relative !important;
  color:black !important;
}

.map_case2{
  width:100%;
  float: left;
  height:290px;
  background-image:url('img/map.png');
  background-size:contain;
  background-color:#031d24 !important;
  overflow: hidden; 
  direction: ltr; margin-top:-40px;
}


.map_case3{
  width:100%;
  float: left;
  height:70vh !important;
  background-image:url('img/map.png');
  background-size:contain;
  background-color:#031d24 !important;
  overflow: hidden; 
  padding-top: 30px !important;
  direction: ltr;
   margin-top:-20px;
}



.border-oran{
border: 2px solid orange !important;
}

.bg-black2{
  background-color: rgb(29, 29, 29) !important;
  border:none !important;
}
.black-bg,.black-border{
  background-color: rgb(12, 9, 8) !important;
  border-color: rgb(12, 9, 8) !important;
}
.black-bg2,.black-border2{
  background-color: rgb(27, 27, 27) !important;
  border-color: rgb(31, 31, 31) !important;
}
.red-bg,.red-border{
  background-color: rgb(172, 40, 0) !important;
  border-color: rgb(180, 12, 0) !important;
}
.oran-border{
  border-color: rgb(180, 108, 0) !important;
}
.oran-bg{
  background-color: rgb(172, 77, 0) !important;
  border-color: rgb(180, 108, 0) !important;
}

.white-bg,.white-border{
  background-color: rgb(255, 255, 255) !important;
  border-color: rgb(255, 255, 255) !important;
}

.oran-border{
border: 3px solid orange !important;
}